*{
    margin: auto;
    padding: 0;
    background-color: #141c3a;
    font-family:  'Nunito', sans-serif;

}

h1{
    color: white;
    text-align: center;
}
.fortune{
    color: goldenrod;

}
#fortuneButton{
    display: flex;
    padding: 10px;
    font-size: 16px;
    background: white;
    border: 5px solid #d010b6;
    border-radius: 5px;
    color: #141c3a;
    cursor: pointer;
}